.game-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choices button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: #c9c9c9;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 17px;
  transition: 0.2s, background-color 0.2s;
}

.choices button:hover {
  transform: scale(1.1);
  background-color: #bab9b9;
}

.choices img {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.result img {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  margin-left: 5px;
}

img {
  border-radius: 3px;
}

.result {
  margin-top: 20px;
}
